# git
.github/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore

# screenshots
docs/ export-ignore
preview.* export-ignore

# development
tests/ export-ignore
syntax_test_* export-ignore
make.cmd export-ignore
